.appHeader {
    padding: 0 10px;
}

.logoText {
    float: left;
    min-width: 120px;
    color: ghostwhite;
    font-size: large;
}

.headerContent {
    float: right;
}

.searchIcon {
    color: rgba(0,0,0,.25);
}